/* setting font */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #2498db;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: white;
}
/* end header */

/* content */
.content {
    /* padding around the content to give space between header and footer */
    padding: 10px;
    text-align: center;
    position: relative;
}

.text {
    padding: 10px;
    font-size: 18px;
}
/* end main */


/* search */
.search {
    margin: 0px auto;
}

.search_header {
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
}

#searchEntry {
    height: 1.5em;
    font-size: 1.4em;
    padding: 5px;
    margin: 0 auto 15px;
    max-width: 150px;
    text-align: center;
    display: block;
}
/* end search */

/* info */
.name {
    margin-bottom: 1em;
    line-height: 1.4em;
}

.status {
    margin-bottom: 1em;
    line-height: 1.4em;
}

.error {
    font-size: 20px;
    padding: 10px;
    color: red;
}
/* end info */

/* routeSearch */

.routeSearch {
    margin: 0px auto;
}

.route_header {
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
}

.route_text {
    font-size: 20px;
    padding: 10px;
}

#start {
    height: 2.2em;
    font-size: 2em;
    padding: 5px;
    margin: 0 auto 15px;
    max-width: 125px;
    text-align: center;
}

#end {
    height: 2.2em;
    font-size: 2em;
    padding: 5px;
    margin: 0 auto 15px;
    max-width: 125px;
    text-align: center;
}

.duration {
    font-size: 18px;
    padding: 10px;
}

.pricing {
    font-size: 18px;
    padding: 10px;

}

.step {
    font-size: 18px;
    padding: 10px;
}

.detail {
    font-size: 18px;
    font-style: italic;
    padding: 15px;
}

.journeyError {
    font-size: 20px;
    padding: 10px;
    color: red;
}

/* end routeSearch */

/* button */
.button {
    background-color: #4CAF50;
    height: 2.1em;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
/* end button */

/* footer */
footer {
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: 30px;
    background-color: #ecf0f1;
}

.footer_text {
    color: #95a5a6;
    font-weight: bold;
    text-shadow: 2px 2px white;
}

.footer_link {
    color: #e74c3c;
    text-decoration: none;
    text-shadow: none;
}

.footer_link:hover {
    text-decoration: none;
    color: #c0392b;
}
/* end footer */


/* about page */

.box {
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color:#1abc9c;
}

.important {
    padding: 20px;
    margin: 0 auto 15px;
    max-width: 400px;
    font-weight: bold;
    color: white;
    background-color:#bd0000;
}

.me {
    padding: 10px;
    height: 345px;
    width: 345px;
    border-radius: 50%;
}
/* media queries */
/* rules lower down the page will overwrite rules higher up */
/* the media query is only applied when the condition of the query is true */

/* tablet/desktop design */
@media (min-width: 860px) {
    /* these rules are only applied at 860px wide or greater */
    #searchEntry {
        height: 2.2em;
        font-size: 2em;
        padding: 5px;
        margin: 0 auto 15px;
        max-width: 200px;
        text-align: center;
    }

    #start {
        height: 2.2em;
        font-size: 2em;
        padding: 5px;
        margin: 0 auto 15px;
        max-width: 200px;
        text-align: center;
    }
    
    #end {
        height: 2.2em;
        font-size: 2em;
        padding: 5px;
        margin: 0 auto 15px;
        max-width: 200px;
        text-align: center;
    }

    .main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        justify-content: space-between;
        align-items: flex-start;
    }
}